body {
  background-color: aqua;
}

header {
  background-color: black;
  display: inline-flex;
}

p{
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  color: darkmagenta;
}
  color: white;
  background-color: black;
}
.locations {
  background-color: rgba(173, 154, 9, 0.134);
  border-color:cadetblue;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  display:flex;

}

#merch{
  width:650px;
  background-color: black;
  border-radius: 6px;
  border-style: solid;

}

#merch-text{
  color: white;
  display: flex;
  justify-content: center;

}
#fish{
  float: right;
}
nav {
  background-color: black;
}

a {
  color: white;
  text-decoration:antiquewhite;
}
h1{
  color: white;

}